<%- include("templates/header") %>

  <main class="text-center container">
    <div class="py-3 m-5"> 
    <h1 class="m-5">Sign Up or Login</h1>
    <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/createUser'">Sign Up</button>
    <button type="button" class="btn btn-lg btn-success" onclick="window.location.href='/login'">Login</button>
  </div>
  </main>
  <%- include("templates/footer") %>