<%- include("templates/header") %> 
    <div class="container">
        
        <div class="row">
        <h1>Animals!</h1>
        <div class="col-md-4 text-center"><img src="/catJAM.gif" alt="catJAM" height="300"></div>
        <div class="col-md-4 text-center"><img src="/computerdog.gif" alt="catJAM" height="300"></div>
        <div class="col-md-4 text-center"><img src="/cheese.gif" alt="catJAM" height="300"></div>
    </div>

    </div>
<%- include("templates/footer") %> 
